/*common.css*/
body { background: #f3f3f3; }
.inline_block { display: inline-block; }
hr {margin: 10px 0 10px;!important}
#footer {
    text-align:center;
}
#footer a {
    margin: 0 1em;
}
#copyright {
    text-align:center;
    color:#989ba2;
}
.fixed.menu {
    background:rgba(255,255,255,0.8);
    height: 4em;
}
#user_pop {
    padding: 0!important;
}
