/*homepage.css*/

.swiper-container {
    width: 100%;
    height: 600px;
    margin: 20px auto 50px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: auto;
    height: 600px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    height: 100%;
    width: auto;
}
.swiper-pagination-bullet {
    background: #fff;
}
.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
    top:-16px;
}




#latest_photo_head,#latest_video_head {
    margin: 2em 0 1em 0!important;
}
#latest_photo,#latest_video {
    padding: 0 2em 3em!important;
}
#category_head {
    margin: 2em 0 1em 0!important;
}
#category {
    padding: 0 2em 3em!important;
}
#order {
    margin:3em 0 0 0!important;
    padding: 2em 0;
}
#order h2 {
    color:#989ba2!important;
}
img {
    width: 100%;
}
.card {
    width: 100%!important;
    background: #efefef;
}
.divider {
    color:#989ba2!important;
    margin: 1em 0!important;
}
.inverted {
    width:100%;
    padding: 1px 0 0 0;
    background:#34363a;
}
.statistics div {
    color:#989ba2!important;
}
